* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/mapa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divMae {
    width: 500px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.inputTexto {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.controle {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

select {
    width: 48%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

