* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Google Sans", sans-serif;
}

body {
    background-image: url(./img/mapa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divMae {
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.inputTexto {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}

.controle {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 45px;
}

select {
    width: 48%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}

button {
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    width: 40px;
    height: 40px
}
.resultado {
    margin-top: 20px;
}

.tituloTraducao {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.traducao {
    padding-top: 20px;
    color: #fff;
}

@media (max-width: 768px) {

  .divMae {
    width: 100%;
    max-width: 420px;
    padding: 14px;
  }

  .controle {
    flex-direction: column;
    gap: 10px;
  }

  select {
    width: 100%;
  }

  button {
    display: none;
  }
}